<% layout("/layouts/boilerplate") %>

<body>
    <div class="col facts first-col">
        <div class="card fact" style="width: 18rem; height: 18rem;">
            <div class="card-body">
              <h5 class="card-title fact-title">History</h5>
              <p class="card-text">Japan's feudal era, marked by the samurai and shogunate rule, transitioned into a modern industrial power after the Meiji Restoration
                 in the 19th century, leading to rapid modernization and imperial expansion in the early 20th century, culminating in World War II.</p>
            </div>
        </div>

        <div class="card fact" style="width: 18rem; height: 18rem;">
            <div class="card-body">
              <h5 class="card-title fact-title">Technology</h5>
              <p class="card-text">Japan is a global leader in robotics and technology. It has the world's most advanced humanoid robots, which are used in various industries, including healthcare and entertainment.</p>
            </div>
        </div>
    </div>

    <div class="col facts">
        <div class="card fact" style="width: 18rem; height: 18rem;">
            <div class="card-body">
              <h5 class="card-title fact-title">Climate</h5>
              <p class="card-text">Japan's climate ranges from snowy winters in the north to hot, humid summers in the south, with frequent typhoons
                during late summer and early autumn.
              </p>
            </div>
        </div>

        <div class="card fact" style="width: 18rem; height: 18rem;">
            <div class="card-body">
              <h5 class="card-title fact-title">Economy</h5>
              <p class="card-text">Japan boasts a highly developed and technologically advanced economy, dominated by industries such as automative manufacturing,
                electronics, and robotics, while also facing challenges such as aging population.
              </p>
            </div>
        </div>
    </div>

    <div class="col facts third-col">
        <div class="card fact" style="width: 18rem; height: 18rem;">
            <div class="card-body">
              <h5 class="card-title fact-title">Culture</h5>
              <p class="card-text">Japanese culture values harmony, respect, and tradition, evident in practices like tea ceremonies, flower arranging
                (ikebana), and the philosphy of Zen Buddhism, while also embracing modern influences such as manga, anime and technology.</p>
            </div>
        </div>

        <div class="card fact" style="width: 18rem; height: 18rem;">
            <div class="card-body">
              <h5 class="card-title fact-title">Work Culture</h5>
              <p class="card-text">Japanese work culture emphasizes dedication, teamwork, and long hours, often leading to a strong sense of loyalty to the company,
                while also facing scrutiny for its intense pressure and work-life balance challenges.</p>
            </div>
        </div>
    </div>

</body>