<% layout("/layouts/boilerplate") %>
<body>
    <div class="col box left-main m-2">
        <h4>Explore Exciting Work Opportunities in Japan!</h4>
        <p>All applicants are welcome regardless of age, gender, race or religion.</p>
        <div class="main-text">
            <h2 style="white-space: pre-line;">Find  your</br><span style="color: #C65BCF">Dream</span> Job Here!</h2>
            <div class="inner-div">
                <img src="../assets/Working_girl.jpg">
                <a href="/listings/jobs"><button type="button" class="btn apply-btn">Apply</button></a>
            </div>
        </div>
        <!-- <div class="bottom">
        </div> -->
    </div>
    <div class="col box right-main">
        <img src="/assets/Home_Img.jpg">
    </div>
</body>